body {
  background-image: url("../images/yt-collage.jpg");
  height: 100%;
}   

.jumbotron {
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 1px;
}

#img {
  height: 185px;
  width: 185px;
}

#wins {
  color: green;
  font-weight: bolder
}

#remaining-number-guesses {
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: bold;
}

#incorrect-guesses {
  color: red;
  font-weight: bold;
}
h1 {
  text-align: center;
  display: inline;
}
#yt {
  height: 75px;
  width: 75px;
}

#current-word {
  font-weight: bolder;
  font-size: larger;
}